databases/mariadb
databases/mongo/data
databases/redis/data

dev-base/gitlab
dev-base/jenkins
dev-base/registry

jetbrains-team/data
jetbrains-team/opt

proxies/privoxy/var
proxies/ssr

security/vault

web-servers/nginx/var
web-servers/tomcat/apps
web-servers/tomcat/logs
web-servers/tomcat/temp


